<table class="w-full">
  <tr>
    <td class="header">
      <table width="100%"> 
        <tr>
          <td align="left" style="width: 110px; padding-left: 20px;">
             <img src="https://res.cloudinary.com/dm8gzosuh/image/upload/v1738996416/background_image_txoubp.png" alt="logo" height="45px" width="auto">
          </td>
          <td align="center" style="width: 337px; padding-left: 12px; padding-top: 10px;">
            <p style="margin: 0; font-size: 12px; color: #002B2B; height: 38px;">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


